body
{
    background: #f1f1f1;
    color: #444;
    display: block;
}
h1
{
    text-align: center;
}
.message
{
    color: #f00;
    font-size: 12px;
}
.btn
{
    width: 60px;
    height: 30px;
}
.selectNodeInfo
{
    float: right;
    font-size: 12px;
    color: #444;
}
.hidden
{
    display: none;
}
/*登录页样式*/
#loginPanel
{
    padding-top: 12%;
}
#loginPanel form
{
    background: #fff;
    margin: auto;
    height: 220px;
    width: 320px;
    padding: 7px 24px 46px;
    font-family: 微软雅黑;
    font-size: 14px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,.13);
}
#loginPanel .textbox
{
    background: #fbfbfb;
    padding: 3px;
    width: 240px;
    margin-left: 7px;
    margin-top: 7px;
    height: 30px;
    border: 1px solid #ddd;
    line-height: 30px;
    font-size: 16px;
}
#loginPanel .submit
{
    text-align: center;
}
#loginPanel .submit input
{
    margin-top: 7px;
    padding: 0px 12px,2px,12px;
    height: 30px;
    background: #2ea2cc;
    border: 1px solid #0074a2;
    color: #fff;
}

.divNavList
{
    width: 200px;
    height: 598px;
    float: left;
    border: 1px solid #ddd;
}
.divContent
{
    width: 680px;
    height: 598px;
    border: 1px solid #ddd;
    float: left;
    background: #fff;
    margin-left: 20px;
    padding: 7px;
    overflow-x: hidden;
    overflow-y: auto;
}
.divTitle
{
    width: 98%;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 7px;
}
.divAction
{
    padding: 3px;
    width: 400px;
    float: left;
}
.divEdit
{
    width: 98%;
    font-family: 微软雅黑;
    font-size: 14px;
}
.divEdit td
{
    padding-top: 12px;
}
.divEdit .textbox
{
    padding: 3px;
    width: 580px;
    margin-left: 7px;
    height: 30px;
    border: 1px solid #ddd;
    line-height: 30px;
    font-size: 16px;
}
.divEdit .select
{
    padding: 3px;
    width: 585px;
    margin-left: 7px;
    height: 35px;
    border: 1px solid #ddd;
    line-height: 30px;
    font-size: 16px;
}
.divEdit .file
{
    padding: 3px;
    width: 530px;
    margin-left: 7px;
    margin-top: 3px;
    height: 30px;
}
.divMessage
{
    font-size: 12px;
    color: Red;
}

#divPicList
{
    width: 900px;
    height: 500px;
    border: 1px solid #ddd;
    float: left;
    overflow: auto;
    background: #fff;
    margin-left: 7px;
    margin-top: 3px;
}
#divPicList .imgItem
{
    float: left;
    width: 140px;
    margin-left: 3px;
    margin-top: 12px;
}
#divPicList img
{
    width: 120px;
    border: none;
}
#divBackgroundLayer
{
    opacity: 0.5;
    width: 100%;
    height: 100%;
    background: #888;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
    text-align: center;
    z-index: 9990;
}
#divDialog
{
    width: 100%;
    height: 110%;
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
    display: none;
    z-index: 9999;
}
#divDialogContent
{
    width: 300px;
    height: 580px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 120px;
    background: #fff;
    position: relative;
    border: 2px solid #4b6c9e;
    padding: 7px;
}
#divSelectMenuList
{
    overflow: auto;
    height: 430px;
    margin-bottom: 15px;
}
#divContentInfo
{
    margin: 7px;
    font-size: 16px;
    font-weight: bold;
}
